APP_ENV=development
APP_DEBUG=true
SECRET_KEY=change-me-in-production

DATABASE_URL=postgresql+asyncpg://fhir:fhir@localhost:5432/fhir_convertor

REDIS_URL=redis://localhost:6379/0

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

AWS_ENDPOINT_URL=http://localhost:4566

# S3
S3_BUCKET_RAW=fhir-raw-artifacts
S3_BUCKET_BUNDLES=fhir-bundles

SQS_EXTRACTION_QUEUE_URL=http://localhost:4566/000000000000/extraction-queue
SQS_RESOLVE_NORMALIZE_QUEUE_URL=http://localhost:4566/000000000000/resolve-normalize-queue
SQS_FHIR_QUEUE_URL=http://localhost:4566/000000000000/fhir-queue
SQS_DELIVERY_QUEUE_URL=http://localhost:4566/000000000000/delivery-queue

SQS_EXTRACTION_DLQ_URL=http://localhost:4566/000000000000/extraction-dlq
SQS_RESOLVE_NORMALIZE_DLQ_URL=http://localhost:4566/000000000000/resolve-normalize-dlq
SQS_FHIR_DLQ_URL=http://localhost:4566/000000000000/fhir-dlq
SQS_DELIVERY_DLQ_URL=http://localhost:4566/000000000000/delivery-dlq

SQS_VISIBILITY_TIMEOUT=300

SQS_WAIT_TIME_SECONDS=20

SQS_MAX_MESSAGES=1

HEALTHLAKE_DATASTORE_ENDPOINT=
